.img-do-cabecalho{
background: #FFFFFF;
margin-top: 25px;
margin-right: 150px;
}

.input-field{
position: relative;
margin-top: 30px;
}

.input-field input{
border-width: 1px;
border-style: solid;
border-color: #F5F5F5;
min-width: 450px;
min-height: 50px;
margin-left: -150px;
background-color: #F5F5F5;
border-radius: 35px;
font-size: 14px;
padding-left: 25px;
transition: none;
}

 
.input-field input::placeholder{
color: #A2A2A2;
font-size: 14px;
font-family: 'Raleway', sans-serif;;
font-style: normal;
padding: 10px;
transition: none;
}

.form-o-que-deseja-encontrar{
    padding-left: 20px;
}

.btn-lupa-pesquisa{
    margin-left: -140px;
    border: none;
    background-color: transparent;
}

#inlineFormInputGroup{
background-color: #F5F5F5;
height: 20px;
}


#inlineFormInputGroup{
border: none;
margin-top: 10px;
margin-left: 55px !important;
}

#caixa-de-login{
color: #2A7AE4;
margin-left: 70px;
width: 156px;
text-align: center;
border-color: #2A7AE4;
border-radius: 0 !important;
margin-top: 30px;
}

#caixa-de-login::placeholder{
    color:#2A7AE4;
    font-size: 16px;
}

#imagem-banner{
width: 100%;
height: 100%;
}

#input_pesquisa{
width: 393px;
height: 40px;
top: 5px;
background: #F5F5F5;
border-radius: 20px;
margin-left: 10%;
}

#exampleInputEmail1{
width: 150px !important;
text-align: center !important;
color: #2A7AE4 !important;
}

#botao-login{
text-align: center;
padding: 16px 32px;
width: 168px;
height: 42px;
margin-top: 20px !important;
background: #FFFFFF;
margin: 10px 0px;
color: #2A7AE4;
border-color: #2A7AE4;
}

#titulo-principal-sem1{
font-family: 'Raleway', sans-serif;;
font-style: normal;
font-weight: 700;
font-size: 32px;
color: #464646;
margin-top: 30px;

}

#titulo-principal-da-pagina{
    font-family: 'Raleway', sans-serif;;
font-style: normal;
font-weight: 700;
font-size: 32px;
color: #464646;
margin-top: 30px;
}

#texto-ver-tudo{
color: #2A7AE4;
font-family: 'Raleway', sans-serif;;
font-style: normal;
size: 16px;
font-weight: 700;
margin-top: 40px;
}

.primeira-imagem{
margin-left: 240px;
margin-top: 200px !important;
}

#produto, #preco{
margin-left: 240px;
}

#ver_produto{
border: white;
background-color: white;
color: #2A7AE4;
margin-left: 230px;
font-weight: bold;
}

.segunda-imagem, .terceira-imagem{
margin-top: 15%;  
}

.padding-0{
padding: 5px !important;
}

#icon-seta{
padding: 10px;
}

.produto{
color: #464646;
font-family: 'Raleway', sans-serif;;
font-style: normal;
font-size: 14px;
}

.preco{
font-family: 'Raleway', sans-serif;;
font-style: normal;
font-weight: bold;
font-size: 16px;
}

.ver-produto{
color:#2A7AE4;
font-family: 'Raleway', sans-serif;;
font-style: normal;
font-weight: bold;
font-size: 16px;
}

.rodape{
background-color: #EAF2FD;
margin-top: 50px;
}

.fale-conosco{
font-family: 'Raleway', sans-serif;;
font-style: normal;
font-size: 16px;
font-weight: bold;
}

#exampleInputNome{
width: 100%;
}

.caixa-de-mensagem{
color: #A2A2A2 !important;
height: 100px !important;
}

.btn-enviar{
background-color: #2A7AE4 !important;
border-radius: 0 !important;
font-family: 'Raleway', sans-serif !important;
font-style: normal !important;
font-size: 16px !important;
margin-left: -13px;
}


.texto-rodape li{
font-family: 'Raleway', sans-serif;;
font-style: normal;
font-size: 16px;
padding: 5px;
margin-top: 5px;
}

.texto-final{
text-align: center;
font-family: 'Raleway', sans-serif;;
font-style: normal;
font-size: 16px;
}


.form-group .caixa-de-mensagem::placeholder{
    color: #A2A2A2;
    text-align: justify;
  
    }